body {
    font-family: fantasy, sans-serif;
    text-align: center;
    background-color: rgb(189, 213, 220);
    margin: 0;
    padding: 0;
}

#title {
    margin-top: 50px;
    font-size: 50px;
    color: transparent;
    display: inline-block;
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AK7aPaAKs8hh26rVQlv4id9vOOhZXcfyplH9Hgx31wU42PSfWowfF8eq5vHVRT0m_VoqsBPY8rNdVsvTkBUWgodixWC6rEm1=s1600');
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-emphasis-color: transparent;
    transition: text-shadow 0.3s;
    text-shadow: 0 0 10px rgba(14, 9, 9, 0);
}

#title:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#spotify {
    margin-top: -40px;
    max-width: 100%;
}  

#quote {
    color: rgb(122, 110, 110);
}

#discover a {
    color: rgb(189, 170, 170); /* Change the link color to red or your desired color */
    text-decoration: none; /* Remove underline */
}
#discover {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    padding: 10px;
    border-radius: 5px;
}
