body {
    font-family: fantasy, sans-serif;
    text-align: center;
    background-color: rgb(189, 213, 220);
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

#title {
    margin-top: 50px;
    font-size: 50px;
    color: transparent;
    display: inline-block;
    background-image: url('Media/Clouds.png');
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-emphasis-color: transparent;
    transition: text-shadow 0.3s;
    text-shadow: 0 0 10px rgba(14, 9, 9, 0);
}

#title:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#spotify {
    margin-top: -40px; /* Adjust the negative margin as needed to move it upwards */
    max-width: 100%; /* Ensure the iframe doesn't exceed the screen width */
}  

#quote {
    color: rgb(122, 110, 110);
}